<% provide(:title, @hotel.title) %>



<%= image_tag @hotel.photo.url %>

<p> Title :  <%= @hotel.title %> </p>

<p> Breakfast included:    <%= @hotel.breakfast %>
<% if @hotel.breakfast == true then %>
yes
<% else %>
no
<%end%> 
</p>

<p> Room description : <%= @hotel.description %> </p>

<p> Price : <%= @hotel.price %> </p><br>

<h4> Address: </h4>

<p> Country : <%= @hotel.address.country %> </p>

<p> State : <%= @hotel.address.state %> </p>

<p> City : <%= @hotel.address.city %> </p>

<p> Street : <%= @hotel.address.street %> </p>

<p> Rating : <%= @hotel.rate %> </p>



<input name="rating[rating]" type="radio" class="star" value = "1"/>



<% session[:hotel] = @hotel.id %>




