<% provide(:title, @hotel.title) %>



<%= image_tag @hotel.photo.url %>

<p> Title :  <%= @hotel.title %> </p>

<p> Breakfast included:    <%= @hotel.breakfast %>
<% if @hotel.breakfast == true then %>
yes
<% else %>
no
<%end%> 
</p>

<p> Room description : <%= @hotel.description %> </p>

<p> Price : <%= @hotel.price %> </p><br>

<h4> Address: </h4>

<p> Country : <%= @hotel.address.country %> </p>

<p> State : <%= @hotel.address.state %> </p>

<p> City : <%= @hotel.address.city %> </p>

<p> Street : <%= @hotel.address.street %> </p>

<p> Rating : <%= @hotel.rate %> </p>

<%= form_for(@hotel, :html => { :multipart => true}, :url => {:controller => "hotels", :action => "rating"}, method: "get") do |f| %>
<input name="rating" type="radio" class="star" value = "1"/>
<input name="rating" type="radio" class="star" value = "2"/>
<input name="rating" type="radio" class="star" value = "3"/>
<input name="rating" type="radio" class="star" value = "4" />
<input name="rating" type="radio" class="star" value = "5"/>
<%= f.hidden_field :id, :value => @hotel.id %>

<%= f.submit "rate" %>
<% end %>

<%= @id.inspect %>


<% session[:hotel] = @hotel.id %>




